@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');




@theme{
    --breakpoint-*: initial;
    --breakpoint-sm: 320px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1296px;
}

@utility container {
    margin-inline: auto;
  }

  body {
      font-family: "Manrope", sans-serif;
  }

.bg {
    background-image: url('./Image/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

@theme{
    --color-brand: #6366F1;
}

@theme {
  --color-midnight: #121063;
  --font-manrope: "Manrope", sans-serif; 
}
